    .header {
        background-color: var(--color-black);
        color: var(--color-white);
        height: var(--header-height);
        position: sticky;
        top: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        color: var(--color-white);
        display: flex;
        align-items: center;
    }

    .logo-img {
        height: 40px;
        /* Adjust based on preference */
        width: auto;
    }

    .main-nav {
        display: flex;
        gap: 20px;
        
    }

    .nav-link {
        color: var(--color-white);
        text-decoration: none;
        font-weight: 500;
        font-size: 0.9rem;
        transition: color 0.2s;
    }

    .nav-link:hover {
        color: var(--color-gold);
    }

    /* Mode Selector (Livraison / Emporter) */
    .mode-selector {
        display: flex;
        background-color: #1a1a1a;
        border-radius: 30px;
        padding: 4px;
    }

    .mode-btn {
        background: transparent;
        color: #888;
        border-radius: 25px;
        padding: 8px 16px;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .mode-btn.active {
        background-color: var(--color-white);
        color: var(--color-black);
        font-weight: 600;
    }

    /* authentification et panier */

    .user-actions {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .action-link {
        font-size: 0.875rem;
        font-weight: 500;
    }

    .welcome-text {
        font-size: 0.875rem;
        color: var(--color-gold);
        font-weight: 600;
    }

    .action-link:hover {
        color: var(--color-gold);
    }

    .cart-btn {
        background-color: var(--color-gold);
        color: var(--color-white);
        padding: 8px 16px;
        border-radius: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .cart-btn:hover {
        background-color: #A38F7B;
        /* Darker Gold */
    }

    .badge {
        background-color: var(--color-black);
        color: var(--color-white);
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 0.75rem;
    }