<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<div class="texte">
    <h1 class="h1">Politique de confidentialité – Mokéa</h1><br><br>
    <h4 class="h4">1.Responsable du traitement</h4>
        <p class="p">Mokea est responsable du traitement des données personnelles collectées dans le cadre de ses services de livraison.</p><br>

    <h4 class="h4">2.Données collectées</h4>
    <p class="p">Nous collectons uniquement les données nécessaires à la livraison et au suivi des commandes :<br>
    Nom et prénom<br>
    Adresse de livraison<br>
    Numéro de téléphone<br>
    Adresse e-mail<br>
    Informations de paiement (traitées de manière sécurisée via nos prestataires)</p><br>

    <h4 class="h4">3.Finalités du traitement</h4>
    <p class="p">Les données sont utilisées pour:<br>
    Gérer et livrer les commandes<br>
    Communiquer avec les clients (confirmation, suivi, service après-vente)<br>
    Améliorer nos services et assurer la sécurité des transactions</p><br>

    <h4 class="h4">4.Conservation des données</h4>
    <p class="p">Les données sont conservées uniquement le temps nécessaire à la gestion de la relation client
        et conformément aux obligations légales (par exemple, conservation des factures pendant 10 ans).</p><br>

    <h4 class="h4">5.Partage des données</h4>
    <p class="p">Les données ne sont jamais vendues. Elles peuvent être transmises uniquement à nos
        prestataires de paiement et de livraison, dans le strict cadre de la commande.</p><br>

    <h4 class="h4">6.Droits des clients</h4>
    <p class="p">Conformément au RGPD, chaque client dispose des droits suivants:<br>
    Droit d’accès à ses données<br>
    Droit de rectification<br>
    Droit à l’effacement («droit à l’oublie»)<br>
    Droit d’opposition au traitement<br>
    Droit à la portabilité<br>
    Pour exercer ces droits, il suffit de nous contacter à: [adresse e-mail de contact].</p><br>

    <h4 class="h4">7.Sécurité</h4>
    <p class="p">Nous mettons en place des mesures techniques et organisationnelles pour
        protéger les données contre tout accès non autorisé, perte ou divulgation.</p>
</div>
