
<main>

    <!-- Hero Section -->
    <section>
        <div>
            <!-- image hero -->
            <img src="assets/images/hero2.png" alt="hero" style="width: 100%; height: auto; margin-bottom: 20px;">

        </div>
    </section>

    <!-- Catégories et Produits -->
    <section class="categories container">
        <ul class="category-list">
            <!-- liste des catégories seulement box pour l'instant -->
            <li class="active">Boxes</li>
        </ul>
    </section>

    <!-- grille des produit -->
    <section class="products container">
        <div class="product-grid">
            <!-- La boucle *ngFor parcourt le résultat 'async' (asynchrone) de l'observable 'boxes$' -->
            <app-sushi-card *ngFor="let box of boxes$ | async" [box]="box"></app-sushi-card>
        </div>
    </section>
</main>