<app-header></app-header>
<div class="container cart-container">
    <h1>Votre Panier</h1>

    <div *ngIf="(cartItems$ | async) as items">
        <div *ngIf="items.length > 0; else emptyCart">

            <div class="cart-items">
                <div class="cart-item" *ngFor="let item of items">
                    <div class="item-image">
                        <img [src]="item.box.image" [alt]="item.box.name">
                    </div>
                    <div class="item-details">
                        <h3>{{ item.box.name }}</h3>
                        <p>{{ item.box.pieces }} pièces</p>
                    </div>
                    <div class="item-quantity">
                        <button (click)="decrementItem(item)">-</button>
                        <span>{{ item.quantity }}</span>
                        <button (click)="addItem(item)">+</button>
                    </div>
                    <div class="item-price">
                        {{ (item.box.price * item.quantity) | currency:'EUR':'symbol':'1.2-2' }}
                    </div>
                </div>
            </div>

            <div class="cart-summary">
                <div class="total-row">
                    <span>Total</span>
                    <span class="total-price">{{ total$ | async | currency:'EUR':'symbol':'1.2-2' }}</span>
                </div>
                <button class="btn btn-primary btn-block">Commander</button>
            </div>

        </div>

        <ng-template #emptyCart>
            <div class="empty-state">
                <p>Votre panier est vide.</p>
                <a href="/" class="btn btn-primary">Découvrir la carte</a>
            </div>
        </ng-template>
    </div>
</div>